.App {
  background: url("https://wallpaperaccess.com/full/3569371.jpg");
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
}

.header-container {
  background-color: white;
  text-align: center;
  padding: 10px;
}

body {
  padding: 0;
  margin: 0;
}
